* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  position: relative;
  height: 100%;
}

.converter-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.converter {}

.converter-label {
  display: block;
}

.converter-inputfield {
  width: 100%;
  background: #fff;
  height: 3rem;
  text-align: center;
}

.converter-outputfield {
  height: 3rem;
  padding: 0.5rem 2rem;
  border: 1px solid;
  margin-top: 4px;
  display: flex;
  flex-direction: revert;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}